body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
    
}
.nav ul{
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px ;
    color: wheat;

}


.nav ul li{
    margin: 0px 10px;
}
.nav ul li span{
    margin: 0 7px;
    font-size: 1.3rem;
}
.nav-item1{
    display: flex;
    align-items: center;
    color: aliceblue;
    
}
.brand{
    width: 40px;
}
.nav-item,.nav-item1{
    list-style: none;}
.container{
    min-height: 61vh;
    display: flex;
    margin: 2% 25%;
    border-radius: 12px;
    padding: 20px;
    background-size: 100% 100%;
    background-image: url('bg.jpg');
}
.left{
    color: aliceblue;
    
}
.left .songItem img{
    width: 30px;
    margin: 5px;
    border-radius: 5px;

}
.songItemList{
    margin-top: 30px;
}
.songItem{
    display: flex;
    align-items: center;
    color: black;
    background-color: #fff;
    margin: 10px;
    margin-left: 0;
    border-radius: 7px;
    justify-content: space-between;
}

.songItem span{
    margin: 0 5px;
}
.songItem .fa-solid{
    color: black;
    margin: 5px;
}

.songInfo{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in ; 

}
.bottom{
    position: sticky;
    bottom:0;
    height: 150px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#progressBar {
    height: 3px; 
    border-radius: 0%;
    width: 80vw;
  } 

.repeat{
    width: 50px;
    position: absolute;
    left: 20%;
    bottom: 26%;
}

.hide{
    opacity: 0;
    pointer-events: none;
}

.fa-solid{
    color: aliceblue;
    cursor: pointer;
}
.play{
    margin: 12px 5vw;
}

.vol{
    position: absolute;
    left:41.6%;
    
}
.volSlider{
    height: 1px;
    color: wheat;
}




@media (max-width:600px) {
    .container{
        margin: 3% 1%;
        border-radius: 0px;
        background-image: none;
        background-color: black;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .repeat{

        left: 8%;
        bottom: 26%;
    }
    .vol{
        position: absolute;
        left:11%;
        bottom: 5%;
    }
    .volSlider{
        height: 1px;
        color: wheat;
        position: relative;
        bottom: 5px;
    }
}

  
  
  